name: Trigger Nightly RAPIDS Pipeline

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *" # 5am UTC / 1am EST

jobs:
  trigger-pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - rapids_version: "25.02"
            run_tests: false
          - rapids_version: "25.04"
            run_tests: true
    steps:
      - uses: actions/checkout@v3
      - name: Trigger Pipeline
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run nightly-pipeline.yaml \
            -f rapids_version="${{ matrix.rapids_version }}" \
            -f run_tests="${{ matrix.run_tests }}"
